.fish-card,
.location-card {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
}

.image-container {
  width: 100%;
  max-width: 512px;
  max-height: 512px;
  margin: 0 auto;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-width: 512px;
  max-height: 512px;
}

#tipList ul {
  list-style-type: disc;
  margin-left: 20px;
}

#tipList li {
  margin-bottom: 8px;
}
